body {
    font-family: Arial;
    background-color: #f9f9f9;
    margin:0;
    padding:0;
    width: 300px;
    height: 400px;
    overflow: auto; /* scrolling bars */
}
header {
    background-color: #ff0000; /*youtube red*/
    color: white;
    padding:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    font-size: 24px;
}

#sortDropdown {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-left:20px;
    font-size: 16px;
    
}

#videoQueue {
    padding: 20px;
}
